.card {
    background-color: #EDEFEE;
    max-width: 240px;
    height: 450px;
    border-radius: 16px;
    margin-bottom: 40px;
    /* padding: 0px 5px 20px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 20px;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

#price{
    color:#EE9972;
}

.card-image{
    border-radius: 16px 16px 0px 0px ;
    /* width: ; */
    height: 150px;
}

.card .text{
    padding: 0px 5px 10px 10px;
}