#hero-image {
    border-radius: 16px;
    margin: 20px 0px -40px 0px;
}

#about h1 {
    color: #F4CE14;
}

#about h2 {
    /* color: white; */
}

#about h4 {
    /* color: white; */
    max-width: 400px;
}
#hero .flex-class{
    margin-top:20px;
}

.image-container {
    position: relative;
    width: 400px; /* Adjust the width of the container */
    height: 600px; /* Adjust the height of the container */
    /* border: 1px solid #ccc; */
    /* background-color: #f0f0f0; */
    overflow: visible; 
    margin-bottom: 50px;
}
#about .image {
    position: absolute;
    width: 300px; /* Adjust the size of the images */
    height: 430px; /* Adjust the size of the images */
  }

  .top-right {
    top: 0;
    right: 0;
  }

  .bottom-left {
    bottom: 0;
    left: 0;
  }
