@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap");

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64pt;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 40pt;
  margin: 0;
}

h3 {
    font-family: "Karla", sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 16pt;
}

h4 {
    font-family: "Karla", sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 18pt;
}

h5 {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 18pt;
}

h6 {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 16pt;
}

h7 {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-weight: 800;
  font-size: 16pt;
}


p {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 16pt;
  color: #495E57;
}

a{
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 10px;
  width: 875px;
  margin: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
}

img {
  border-radius: 16px;
}